{% load widget_tweaks %}
{% load label_tag_attr %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>django-label-tag-attr example</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">
        <h1>django-label-tag-attr example</h1>

        <div class="form-group">
            <div class="col-xs-2">
                {% render_label form.text class="control-label" %}
            </div>
            <div class="col-xs-10">
                {% render_field form.text class="form-control" %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2">
                {% render_label form.choices class="control-label" %}
            </div>
            <div class="col-xs-10">
                {% render_field form.choices class="form-control" %}
            </div>
        </div>

    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>